@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
.three-body {
  --uib-size: 55px;
  --uib-speed: .6s;
  --uib-color: #5D3FD3;
  position: fixed;
  top: 50%;
  right: 50%;
  display: inline-block;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
  position: absolute;
  height: 100%;
  width: 30%;
}

.three-body__dot:after {
  content: "";
  position: absolute;
  height: 0%;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--uib-color);
  border-radius: 50%;
}

.three-body__dot:nth-child(1) {
  bottom: 5%;
  left: 0;
  transform: rotate(60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite ease-in-out;
  animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
  bottom: 5%;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite calc(var(--uib-speed) * -0.15) ease-in-out;
}

.three-body__dot:nth-child(3) {
  bottom: -5%;
  left: 0;
  transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
  top: 0;
  left: 0;
  animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes wobble1 {
  0%, 100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }
  50% {
    transform: translateY(-66%) scale(0.65);
    opacity: 0.8;
  }
}
@keyframes wobble2 {
  0%, 100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }
  50% {
    transform: translateY(66%) scale(0.65);
    opacity: 0.8;
  }
}
.loader {
  --uib-size: 120px;
  position: absolute;
  top: 50%;
  right: 50%;
  display: inline-block;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #9356DC;
  border-radius: 50%;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.container {
  animation: loader-in 7s alternate;
}

.load {
  animation: loader-out 7s alternate;
  opacity: 0;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: Roboto;
}

h1,
h2,
h3 {
  font-family: Roboto;
}

/* entete */
header {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 20px 0px 10px 0px;
}

#header {
  background: whitesmoke;
  text-align: center;
  padding: 0;
}

.header__back {
  padding-left: 0;
  margin-left: 0px;
  font-size: 1.5em;
  width: 5%;
  color: black;
}
.header__logo {
  width: 90%;
  text-align: center;
}
.header__localisation {
  background: rgb(224, 223, 223);
  padding: 20px 5px;
  margin-bottom: 50px;
  font-weight: 600;
}
.header__title {
  font-size: 1.8em;
  font-weight: bold;
  padding: 0px 15px;
}
.header__description {
  font-size: 18px;
  margin-bottom: 30px;
}
.header__btnrestaurant {
  background: linear-gradient(180deg, #FF79DA, 35%, #9356DC);
  margin-bottom: 30px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  padding: 15px 40px;
  font-weight: 600;
  transition: transform 1s, font-size 1s;
}
.header__btnrestaurant:hover {
  transform: scale(1.05);
  border: 2px solid white;
  font-size: 15px;
}

#fonctionnement {
  padding: 15px;
  background-color: white;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.fonctionnement__card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(224, 223, 223);
  height: 55px;
  border-radius: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  padding-right: 20px;
  transition: background-color 1s;
}
.fonctionnement__card--num-ordre {
  color: white;
  border-radius: 10px;
  padding: 1px;
  text-align: center;
  width: 12px;
  height: 12px;
  font-size: 9px;
  background-color: #9356DC;
  position: relative;
  transform: scale(2);
  margin-left: -5px;
}
.fonctionnement__card--icon {
  margin: 0 25px;
  width: 10px;
}
.fonctionnement__card--titre {
  font-weight: 600;
}
.fonctionnement__card:hover {
  background-color: #9356DC;
  color: white;
}

.fonctionnement__card:hover .fonctionnement__card--num-ordre {
  background-color: #FF79DA;
  border: 1px solid;
}

#restaurants {
  padding: 15px;
  margin-top: 25px;
  padding-bottom: 40px;
  background-color: rgb(224, 223, 223);
}

.restaurants {
  display: flex;
  flex-direction: column;
}
.restaurants__card:hover {
  background: #99E2D0;
  transform: scale(1.05);
}
.restaurants__card:hover .card__title {
  color: #9356DC;
}
.restaurants__card {
  margin-bottom: 20px;
  position: relative;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 1s, background 1s;
}
.restaurants__card div > a > img {
  height: 200px;
}
.restaurants__card .nouveau {
  position: absolute;
  background: #99E2D0;
  color: white;
  padding: 5px;
  border-radius: 2px;
  right: 0px;
  margin: 10px;
}
.restaurants__card .card__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  margin: 0;
  height: 38px;
}
.restaurants__card .card__title .heart-home .coeur-contenant-home {
  position: relative;
  cursor: pointer;
  font-size: 25px;
}
.restaurants__card .card__title .heart-home .coeur-contenant-home .coeur-colore-home {
  position: absolute;
  right: 12px;
  bottom: 5px;
  font-size: 0px;
  transition: bottom 1s, font-size 1s, right 1s;
  background: linear-gradient(180deg, #FF79DA, 35%, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurants__card .card__title .heart-home .coeur-contenant-home:hover {
  color: transparent;
  transition: color 2s;
}
.restaurants__card .card__title .heart-home .coeur-contenant-home:hover .coeur-colore-home {
  bottom: 0px;
  font-size: 24px;
  right: 0px;
}
.restaurants__card .card__description {
  padding: 0 15px;
  margin-top: 0;
  margin-top: 0;
}

.footer-contain {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background: rgb(53, 53, 54);
  color: white;
}
.footer-contain__logo {
  width: 40%;
  padding: 10px 0;
}
.footer-contain__corps {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
}
.footer-contain__corps--elt {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.footer-contain__corps--elt i {
  width: 30px;
  font-size: 13px;
}
.footer-contain__corps--elt p {
  margin: 2px 0;
}

/* menu style */
.card-menu {
  display: flex;
  flex-direction: column;
}
.card-menu__img {
  margin: 0;
}
.card-menu__contain {
  margin-top: -35px;
  background: rgb(240, 240, 241);
  border-radius: 35px 35px 0 0;
  padding: 10px;
}
.card-menu__contain1 {
  display: flex;
  flex-wrap: wrap;
}

.menu-restaurants__contain--titre {
  text-transform: uppercase;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.menu-restaurants__contain--titre .souligne {
  border-bottom: 3px solid #99E2D0;
  width: 30px;
  margin-left: 2px;
}
.menu-restaurants__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-restaurants__title h2 {
  font-style: italic;
  font-size: 1.6em;
  font-family: Shrikhand;
}
.menu-restaurants__title .coeur-contenant {
  display: inline-block;
  position: relative;
  font-size: 30px;
  overflow: hidden;
  cursor: pointer;
  margin-right: 15px;
}
.menu-restaurants__title .coeur-colore {
  position: absolute;
  top: 65px;
  left: 20px;
  font-size: 0px;
  transition: top 1s, font-size 1s, left 1s;
  background: linear-gradient(180deg, #FF79DA, 35%, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-restaurants__title .coeur-contenant:hover {
  color: black;
  transition: color 2s;
}
.menu-restaurants__title .coeur-contenant:hover .coeur-colore {
  top: 1px;
  font-size: 27px;
  left: 1px;
}
.menu-restaurants__commander {
  text-align: center;
  padding: 20px;
}
.menu-restaurants .card_menu__bloc {
  background: white;
  border-radius: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
}
.menu-restaurants .card_menu__bloc__corps {
  width: 100%;
  padding: 10px;
  overflow: hidden;
}
.menu-restaurants .card_menu__bloc__corps p {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-restaurants .card_menu__bloc__selection {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  transition: width 1s;
  width: 0%;
}
.menu-restaurants .card_menu__bloc__selection--icon-check {
  transition: rotate 1s;
  color: white;
  font-size: 1.5em;
}
.menu-restaurants .card_menu__bloc--title {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-restaurants .card_menu__bloc--description {
  margin: 0;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
}
.menu-restaurants .card_menu__bloc--description .content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-restaurants .card_menu__bloc--description .prix {
  display: inline-block;
  position: relative;
  right: 0;
  font-weight: 600;
  white-space: nowrap;
}

@keyframes apparition {
  0% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(1px);
  }
}
@keyframes slidein-tb {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
.card_menu__bloc:hover .card_menu__bloc__selection {
  width: 20%;
}
.card_menu__bloc:hover .card_menu__bloc__selection--icon-check {
  rotate: 720deg;
}

/* generation du style de l'apparition des menus(entree, plats, dessert)*/
.menu-1 {
  animation-duration: 0.2s;
  animation-name: apparition;
  animation-direction: alternate;
}

.menu-2 {
  animation-duration: 0.8s;
  animation-name: apparition;
  animation-direction: alternate;
}

.menu-3 {
  animation-duration: 1.8s;
  animation-name: apparition;
  animation-direction: alternate;
}

.menu-4 {
  animation-duration: 3.2s;
  animation-name: apparition;
  animation-direction: alternate;
}

.menu-5 {
  animation-duration: 5s;
  animation-name: apparition;
  animation-direction: alternate;
}

.menu-6 {
  animation-duration: 7.2s;
  animation-name: apparition;
  animation-direction: alternate;
}

.menu-7 {
  animation-duration: 9.8s;
  animation-name: apparition;
  animation-direction: alternate;
}

.menu-8 {
  animation-duration: 12.8s;
  animation-name: apparition;
  animation-direction: alternate;
}

.menu-9 {
  animation-duration: 16.2s;
  animation-name: apparition;
  animation-direction: alternate;
}

/* style conteneur des images*/
.card_img {
  width: 100%;
  height: 100%;
  border-radius: 18px 18px 0 0;
  overflow: hidden;
}

.ombre_box {
  box-shadow: 2px 2px 5px 0px rgba(17, 17, 17, 0.124);
}

.dim_img > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 992px) {
  .restaurants,
  .fonctionnement {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .restaurants__card {
    width: 23%;
  }
  .restaurants__card .card_img {
    height: 75%;
  }
  .card-menu__img {
    height: 500px;
  }
  .menu-restaurants__contain1 {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
  }
  .menu-restaurants__contain1 .card_menu__bloc {
    width: 30%;
  }
  /* style footer*/
  .footer-contain__logo {
    width: 20%;
  }
  .footer-contain__corps {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-contain__corps--elt {
    width: 23%;
  }
}
@media only screen and (min-width: 755px) and (max-width: 992px) {
  .fonctionnement {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .restaurants {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .restaurants__card {
    width: 32%;
  }
  .restaurants__card .card_img {
    height: 75%;
  }
  .card-menu__img {
    height: 500px;
  }
  .menu-restaurants__contain1 {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .menu-restaurants__contain1 .card_menu__bloc {
    width: 48%;
  }
  /* style footer*/
  .footer-contain__logo {
    width: 20%;
  }
  .footer-contain__corps {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-contain__corps--elt {
    width: 23%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 755px) {
  .fonctionnement {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .restaurants {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .restaurants__card {
    width: 48%;
  }
  .restaurants__card .card_img {
    height: 75%;
  }
  .menu-restaurants__contain1 {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .menu-restaurants__contain1 .card_menu__bloc {
    width: 48%;
  }
  /* style footer*/
  .footer-contain__logo {
    width: 30%;
  }
  .footer-contain__corps {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-contain__corps--elt {
    width: 48%;
  }
}
/* Extra small devices (phones, 600px and down) */

/*# sourceMappingURL=style.css.map */
