//@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$gradian-ps: linear-gradient(180deg, #FF79DA, 35%, #9356DC);
$fond-gris: rgb(224, 223, 223);
$fond-gris-clair: rgb(240, 240, 241);
$police-titre: Roboto; 
$police-texte: Roboto;