@import './_variables';
@import './_mixins';
@import './_loader';
@import './_placeholders';




body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: $police-texte;
}

h1,
h2,
h3 {
    font-family: $police-titre;
}



/* entete */
header {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 20px 0px 10px 0px;
}

#header {
    background: whitesmoke;
    text-align: center;
    padding: 0;
}

.header {
    &__back { 
        padding-left: 0;
        margin-left: 0px;
        font-size: 1.5em;
        width: 5%;
        color: black;
    }

    &__logo {
        width: 90%;
        text-align: center;
    }

    &__localisation {
        background: $fond-gris;
        padding: 20px 5px;
        margin-bottom: 50px;
        font-weight: 600;
    }

    &__title {
        font-size: 1.8em;
        font-weight: bold;
        padding: 0px 15px; 
    }

    &__description { 
        font-size: 18px;
        margin-bottom: 30px;
    }

    &__btnrestaurant {
        background: linear-gradient(180deg, $secondary-color, 35%, $primary-color);
        margin-bottom: 30px;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 25px;
        padding: 15px 40px;
        font-weight: 600;
        transition: transform 1s, font-size 1s;
    }

    &__btnrestaurant:hover {
        transform: scale(1.05);
        border: 2px solid white;
        font-size: 15px;
    }
}

#fonctionnement {
    padding: 15px;
    background-color: white;
}

.fonctionnement {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &__card { 
        @include position-el(center, flex-start);
        background-color: $fond-gris;
        height: 55px;
        border-radius: 15px;
        margin-bottom: 15px;
        margin-left: 10px;
        padding-right: 20px;
        transition: background-color 1s;

        &--num-ordre {
            color: white; 
            border-radius: 10px;
            padding: 1px;
            text-align: center;
            width: 12px;
            height: 12px;
            font-size: 9px;
            background-color: $primary-color;


            position: relative;
            transform: scale(2);
            margin-left: -5px;
        }

        &--icon {
            margin: 0 25px;
            width: 10px;
        }

        &--titre {
            font-weight: 600;
        }
    }

    &__card:hover {
        background-color: $primary-color;
        color: white;
    }

}

.fonctionnement__card:hover .fonctionnement__card--num-ordre {
    background-color: $secondary-color;
    border: 1px solid;
}

#restaurants {
    padding: 15px;
    margin-top: 25px;
    padding-bottom: 40px;
    background-color: $fond-gris;
}

.restaurants {
    display: flex;
    flex-direction: column;

    &__card:hover {
        background: $tertiary-color;
        transform: scale(1.05);

        .card__title {
            color: $primary-color;
        }
         

    }

    &__card {
        margin-bottom: 20px;
        position: relative;
        background: white;
        border-radius: 15px;
        overflow: hidden;
        // cursor: pointer;
        transition: transform 1s, background 1s;

        div>a>img {
            height: 200px;
        }

        .nouveau {
            position: absolute;
            background: $tertiary-color;
            color: white;
            // float: right;
            padding: 5px;
            border-radius: 2px;
            right: 0px;
            margin: 10px;
            // background-clip: text;
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: $tertiary-color;
        }

        .card__title {
            // display: flex;
            // align-items: center;
            // justify-content: space-between;
            @include position-el(center, space-between);
            padding: 0 15px;
            margin: 0;
            height: 38px;

            .heart-home {
                .coeur-contenant-home {
                    position: relative;
                    cursor: pointer;
                    font-size: 25px;

                    .coeur-colore-home {
                        position: absolute;
                        right: 12px;
                        bottom: 5px;
                        font-size: 0px;
                        // opacity: 0;
                        transition: bottom 1s, font-size 1s, right 1s;
                        // color: transparent;
                        background: $gradian-ps;
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }

                .coeur-contenant-home:hover {
                    color: transparent;
                    transition: color 2s;
                }

                .coeur-contenant-home:hover .coeur-colore-home {
                    bottom: 0px;
                    font-size: 24px;
                    right: 0px;
                    // opacity: 1;
                }
            }

            // span {
            //     // width: 50px;
            //     font-size: 22px;
            //     margin-right: 10px;
            //     // color: aqua;
            //     cursor: pointer;
            // }

            // span>i:hover {
            //     color: $primary-color;
            //     // border: 1px solid; 
            //     overflow: hidden;
            // }
        }

        .card__description {
            // border: 1px solid;
            padding: 0 15px;
            margin-top: 0;
            margin-top: 0;
        }

    }
}

.footer-contain {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: rgb(53, 53, 54);
    color: white;

    &__logo {
        width: 40%;
        padding: 10px 0;
    }

    &__corps {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 10px;

        &--elt {
            width: 100%;
            // margin-bottom: 5px;
            display: flex;
            align-items: center;
            cursor: pointer;

            // background: aqua; 
            i {
                width: 30px;
                font-size: 13px;
            }

            p {
                margin: 2px 0;
            }
        }
    }
}


/* menu style */
.card-menu {
    display: flex;
    flex-direction: column;

    &__img {
        margin: 0;
    }

    &__contain {
        margin-top: -35px;
        background: $fond-gris-clair;
        border-radius: 35px 35px 0 0;
        padding: 10px;
    }

    &__contain1 {
        display: flex;
        flex-wrap: wrap;
    }
}


.menu-restaurants {
    &__contain {
        &--titre {
            text-transform: uppercase;
            font-weight: 100;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .souligne {
                border-bottom: 3px solid $tertiary-color;
                width: 30px;
                margin-left: 2px;
            }
        }
    }

    // .heart:hover {
    //     .heart-remplir {
    //         color: $primary-color;
    //         // font-size: 25px;
    //         opacity: 1;
    //         @include animation(5s, heart-remplir, alternate);
    //     }

    //     .heart-vide {
    //         color: $primary-color;
    //         @include animation(2s, heart-vide, alternate);
    //     }
    // }

    &__title {
        @include position-el(center, space-between);
        // display: flex;
        // align-items: center;
        // justify-content: space-between;

        h2 {
            font-style: italic;
            font-size: 1.6em;
            font-family: Shrikhand;
        }

        .coeur-contenant {
            display: inline-block;
            position: relative;
            font-size: 30px;
            overflow: hidden;
            cursor: pointer;
            margin-right: 15px;
        }

        .coeur-colore {
            position: absolute;
            top: 65px;
            left: 20px;
            font-size: 0px;
            transition: top 1s, font-size 1s, left 1s;
            background: $gradian-ps;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .coeur-contenant:hover {
            color: black;
            transition: color 2s;
        }

        .coeur-contenant:hover .coeur-colore {
            top: 1px;
            font-size: 27px;
            left: 1px;
        }

        // .heart {
        //     cursor: pointer;

        //     span>i {
        //         position: absolute;
        //         padding-right: 25px;
        //         font-size: 25px;
        //         right: 0;
        //         // left: 0; 
        //         // margin-bottom: 10px;
        //     }

        //     .heart-remplir {
        //         // background: linear-gradient(180deg, $secondary-color, 35%, $primary-color);

        //         font-size: 0px;
        //         transition: top 0.5s, font-size 0.5s, left 0.5s;
        //         opacity: 0;
        //     }
        // }

    }

    &__commander {
        text-align: center;
        padding: 20px;
    }

    .card_menu {
        &__bloc {
            background: white;
            border-radius: 15px;
            margin-bottom: 15px;
            overflow: hidden;
            cursor: pointer;
            // transition: width 1s;
            display: flex;

            &__corps {
                width: 100%;
                padding: 10px;
                overflow: hidden;

                p {
                    width: 100%;
                    //     border: 1px solid;
                    //     padding: 2px 5px;

                    //     /* Les deux règles suivantes sont nécessaires pour text-overflow */
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

            }

            &__selection {
                overflow: hidden;
                @include position-el(center, center);
                background-color: $tertiary-color;
                transition: width 1s;
                width: 0%;

                &--icon-check { 
                    transition: rotate 1s;
                    color: white;
                    font-size: 1.5em;
                }
            }


            &--title {
                margin: 0;
                padding: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &--description {
                margin: 0;
                padding: 5px 0; 
                display: flex;
                justify-content: space-between;

                .content {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                } 
                .prix {
                    display: inline-block;
                    // float: right;
                    position: relative;
                    right: 0;
                    font-weight: 600;
                    white-space: nowrap;
                }
            }
        }
    }

    // padding: 20px 10px;
    // margin: 0;
    //  margin-top: -35px;
    // position: absolute;
    // width: 100%;
    // height: 300px; 
    // top: 60%;
    // background: aqua;
}


// @keyframes heart-remplir {
//     0% {
//         font-size: 0px;
//         transform: scaleY(0);
//     }

//     100% {
//         // font-size: 10px;
//         // background: linear-gradient(to bottom, yellow 0%,red 100%);
//         // background-clip: text;
//         // -webkit-background-clip: text;
//         // -webkit-text-fill-color: transparent;
//         // transform: scaleY(2);
//     }
// }

// @keyframes heart-vide {
//     0% {
//         color: black;
//     }

//     75% {
//         color: black;
//     }

//     100% {
//         color: $primary-color;
//     }
// }

// @keyframes slidein-rl {
//     from {
//         margin-right: 0%;
//         width: 0%;
//     }

//     to {
//         width: 20%;
//     }
// }

@keyframes apparition {
    0% {
        transform: translateY(-30px)
    }

    100% {
        transform: translateY(1px);
    }

    // 50% {
    //     transform: scaleY(0.5);
    // }

    // 75% {
    //     transform: scaleY(0.7);
    // }

    // 100% {
    //     transform: scaleY(1);
    // }
}

@keyframes slidein-tb {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}
 

.card_menu__bloc:hover .card_menu__bloc__selection {
    // @include animation(1s, slidein-rl, alternate); 
    width: 20%;

    &--icon-check {
        rotate: 720deg;
    }


}


/* generation du style de l'apparition des menus(entree, plats, dessert)*/
@for $i from 1 through 9 {
    .menu-#{$i} {
        @include animation(#{(calc(($i) / 5))*$i}s, apparition, alternate);
    }
}


/* style conteneur des images*/
.card_img {
    @include card_img(18px, 18px, 0, 0)
}

.ombre_box {
    box-shadow: 2px 2px 5px 0px rgba(17, 17, 17, 0.124);
}

.dim_img>a>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main {
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
}

@media only screen and (min-width: 992px) {
    // main {
    //     background: rgb(238, 80, 106);
    // }

    .restaurants,
    .fonctionnement {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .restaurants {
        &__card {
            width: 23%;

            .card_img {
                height: 75%;
            }
        }
    }

    .card-menu__img {
        height: 500px;
    }

    .menu-restaurants__contain1 {
        flex-direction: row;
        display: flex;
        justify-content: space-around;

        .card_menu__bloc {
            width: 30%;
        }
    }



    /* style footer*/
    .footer-contain {
        &__logo {
            width: 20%;
        }

        &__corps {
            flex-direction: row;
            justify-content: space-between;

            &--elt {
                width: 23%;
            }
        }
    }


}

@media only screen and (min-width: 755px) and (max-width:992px) {
    // main {
    //     background: rgb(80, 201, 238);
    // }

    .fonctionnement {
        flex-direction: row;
        // justify-content: space-between;    
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .restaurants {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .restaurants {
        &__card {
            width: 32%;

            .card_img {
                height: 75%;
            }
        }
    }

    .card-menu__img {
        height: 500px;
    }

    .menu-restaurants__contain1 {
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .card_menu__bloc {
            width: 48%;
        }
    }

    /* style footer*/
    .footer-contain {
        &__logo {
            width: 20%;
        }

        &__corps {
            flex-direction: row;
            justify-content: space-between;

            &--elt {
                width: 23%;
            }
        }
    }

}

@media only screen and (min-width: 600px) and (max-width:755px) {
    // main {
    //     background: rgb(85, 238, 80);
    // }

    .fonctionnement {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .restaurants {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .restaurants {
        &__card {
            width: 48%;

            .card_img {
                height: 75%;
            }
        }
    }

    // .card-menu__img {
    //     // height: 500px;
    // }

    .menu-restaurants__contain1 {
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .card_menu__bloc {
            width: 48%;
        }
    }

    /* style footer*/
    .footer-contain {
        &__logo {
            width: 30%;
        }

        &__corps {
            flex-direction: row;
            justify-content: space-between;


            &--elt {
                width: 48%;
            }
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    // main {
    //     // background: rgb(47, 6, 114);
    // }

}